<h1>Create Your Pirate!</h1>

<form method = 'post' action = '/show'>
  <h2>Pirate</h2>
  <label for='name'>Name:</label>
  <input type='text' id='name' name=pirate[name]>
  <label for='weight'>Pirate weight:</label>
  <input type='text' id='weight' name=pirate[weight]>
  <label for='height'>Pirate height:</label>
  <input type='text' id='height' name=pirate[height]>
  <br>

  <h2>Ship 1</h2>
  <label for='boat_name'>Name:</label>
  <input type='text' id='boat_name' name=pirate[ship][][name]>
  <label for='type'>Type:</label>
  <input type='text' id='type' name=pirate[ship][][type]>
  <label for='booty'>Booty:</label>
  <input type='text' id='booty' name=pirate[ship][][booty]>

  <h2>Ship 2</h2>
  <label for='ship1_name'>Name:</label>
  <input type='text' id='ship1_name' name=pirate[ship][][name]>
  <label for='type2'>Type:</label>
  <input type='text' id='type2' name=pirate[ship][][type]>
  <label for='booty2'>Booty:</label>
  <input type='text' id='booty2' name=pirate[ship][][booty]>
  <br>
  <br>
  <input type='submit' id='Submit'>
</form>
